@using adv_Backend_Entrance.Common.Enums
@model ManagersViewModel

@{
    ViewBag.Title = "Менеджеры";
    Layout = "_Layout";
}

<div class="container mt-3 justify-content-center">
    <label id="filterLabel" class="fs-4 fw-bold mb-3">Фильтры</label>
    <form id="formfilter" class="row g-3 mx-auto border p-2 rounded" asp-action="GettingManagers" asp-controller="Managers" method="post">
        <div class="col-md-4 border p-3 rounded">
            <label asp-for="Filter.Page" class="form-label">Номер страницы</label>
            <input asp-for="Filter.Page" id="Page" name="Page" class="form-control" placeholder="Введите номер страницы" />
        </div>
        <div class="col-md-4 border p-3 rounded">
            <label asp-for="Filter.Size" class="form-label">Количество записей</label>
            <input asp-for="Filter.Size" id="Size" name="Size" class="form-control" placeholder="Введите количество записей" />
        </div>
        <div class="col-md-6 border p-3 rounded">
            <label asp-for="Filter.Role" class="form-label">Роль</label>
            <select asp-for="Filter.Role" id="Role" name="Role" class="form-select">
                <option selected disabled>Роль</option>
                <option value="Manager" id="Manager">Менеджер</option>
                <option value="MainManager" id="MainManager">Главный менеджер</option>
            </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary mt-3" id="apply_button">Применить</button>
        </div>
    </form>
</div>

<div class="container" id="managersInfo">
    @foreach (var manager in Model.Manager)
    {
        <div class="card mt-5 mb-3 mx-auto col-md-8">
            <div class="card-header">
                <h5 class="card-title">@manager.FullName</h5>
            </div>
            <div class="card-body">
                <p class="card-text">Email: @manager.Email</p>
            </div>
            <div class="card-footer text-muted">
                <p class="card-text">Роль: @manager.Role</p>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function getManagers() {
            $.ajax({
                type: "POST",
                url: "/Managers/GettingManagers",
                data: $("#formfilter").serialize(),
                success: function (response) {
                    $("#managersInfo").html($(response).find("#managersInfo").html());
                },
                error: function () {
                    alert("Произошла ошибка при загрузке пользователей.");
                }
            });
        }
        $(document).ready(function () {
            $("#formfilter").submit(function (event) {
                event.preventDefault();
                getManagers();
            });
        });
    </script>
}
