################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/adv_Backend_Entrance/config
/.vs/adv_Backend_Entrance/DesignTimeBuild
/.vs/adv_Backend_Entrance/FileContentIndex
/.vs/ProjectEvaluation
/adv_Backend_Entrance/obj
/adv_Backend_Entrance.Common/obj
/adv_Backend_Entrance.Common/bin/Debug/net8.0
/adv_Backend_Entrance.JWT/obj
/adv_Backend_Entrance.JWT
/adv_Backend_Entrance.UserService/bin/Debug/net8.0
/adv_Backend_Entrance.UserService/obj
/adv_Backend_Entrance.UserService.DAL/obj
/adv_Backend_Entrance.UserService.DAL/bin/Debug/net8.0
/adv_Backend_Entrance.UserService.BL/obj
/adv_Backend_Entrance.UserService.BL/bin/Debug/net8.0
/.vs/adv_Backend_Entrance/v17
/adv_Backend_Entrance.FacultyService/obj
/adv_Backend_Entrance.FacultyService.BL/bin/Debug/net8.0
/adv_Backend_Entrance.FacultyService.BL/obj
/adv_Backend_Entrance.FacultyService.DAL/bin/Debug/net8.0
/adv_Backend_Entrance.FacultyService.DAL/obj
/adv_Backend_Entrance.FacultyService.MVCPanel/bin/Debug/net8.0
/adv_Backend_Entrance.FacultyService.MVCPanel/obj
/adv_Backend_Entrance.ApplicantService/bin/Debug/net8.0
/adv_Backend_Entrance.ApplicantService/obj
/adv_Backend_Entrance.ApplicantService.BL/bin/Debug/net8.0
/adv_Backend_Entrance.ApplicantService.BL/obj
/adv_Backend_Entrance.ApplicantService.DAL/obj
/adv_Backend_Entrance.ApplicantService.DAL/bin/Debug/net8.0
/adv_Backend_Entrance.EntranceService/bin/Debug/net8.0
/adv_Backend_Entrance.EntranceService/obj
/adv_Backend_Entrance.EntranceService.BL/bin/Debug/net8.0
/adv_Backend_Entrance.EntranceService.BL/obj
/adv_Backend_Entrance.EntranceService.DAL/bin/Debug/net8.0
/adv_Backend_Entrance.EntranceService.DAL/obj
/adv_Backend_Entrance.AdminPanel/bin/Debug/net8.0
/adv_Backend_Entrance.AdminPanel/obj
/adv_Backend_Entrance.AdminPanel.BL/obj
/adv_Backend_Entrance.AdminPanel.DAL/obj
/adv_Backend_Entrance.AdminPanel.DAL/bin/Debug/net8.0
/adv_Backend_Entrance.AdminPanel.BL/bin/Debug/net8.0
