@model ChangePasswordModel

@{
    ViewBag.Title = "Change Password";
    Layout = "_Layout";
}

<div class="card p-0 mx-auto container bg-white border-0">
    <div class="card-body">
        <form id="changePasswordForm" asp-action="ChangePassword" method="post">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label asp-for="OldPassword" class="form-label"></label>
                <input type="password" class="form-control" asp-for="OldPassword" />
                <span class="text-danger" asp-validation-for="OldPassword"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="Password"></label>
                <input type="password" class="form-control" asp-for="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="mb-3">
                <label class="form-label" asp-for="ConfirmPassword"></label>
                <input type="password" class="form-control" asp-for="ConfirmPassword" />
                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="text-danger" asp-validation-summary="All"></div>
            <button type="button" class="btn btn-primary" onclick="ChangePassword()">Поменять</button>
        </form>
    </div>
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function ChangePassword() {
            $.ajax({
                type: "POST",
                url: "/Account/ChangePassword",
                data: $("#changePasswordForm").serialize(),
                success: function (response) {
                    window.location.href = response.redirectUrl;
                },
            });
        }
    </script>
}