﻿@using adv_Backend_Entrance.Common.Enums
@model EditProfileModel

@{
    ViewBag.Title = "Редактировать профиль";
    Layout = "_Layout";
}

<div id="editId" class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Редактирование профиля
                </div>
                <div class="card-body">
                    <form id="editForm" asp-action="EditProfile" asp-controller="Account" method="post">
                        <div class="form-group">
                            <label asp-for="FirstName" class="form-label">Имя</label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName" class="form-label">Фамилия</label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email" class="form-label">Электронная почта</label>
                            <input asp-for="Email" class="form-control" type="email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Patronymic" class="form-label">Отчество</label>
                            <input asp-for="Patronymic" class="form-control" />
                            <span asp-validation-for="Patronymic" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Phone" class="form-label">Номер телефона</label>
                            <input asp-for="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BirthDate" class="form-label">Дата рождения</label>
                            <input asp-for="BirthDate" class="form-control" type="datetime-local" />
                            <span asp-validation-for="BirthDate" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Gender" class="form-label">Пол</label>
                            <select asp-for="Gender" class="form-select">
                                <option value="">Выбрать пол</option>
                                <option value="Male" id="Male" name="Male">Мужчина</option>
                                <option value="Female" id="Female" name="Female">Женщина</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="text-center">
                            <button type="button" class="btn btn-primary" onclick="EditProfile()">Поменять</button>
                        </div>
                        <div class="text-center">
                            <a class="nav-link" asp-controller="Account" asp-action="ChangePassword">Поменять пароль</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function EditProfile() {
            $.ajax({
                type: "POST",
                url: "/Account/EditProfile",
                data: $("#editForm").serialize()
            });
        }
    </script>
}
